.profile-nav-bar {
    display: flex;
    gap: 16px;
    margin-top: 12px;
    padding:0;
}

.nav-button {
    padding: 10px 20px;
    /* margin: 5px; */
    border: none;
    cursor: pointer;
}

.nav-button.active { /* Example active color */
    color: rgb(88, 150, 86);
    border-bottom:3px rgb(88, 150, 86) solid;
}

